body{
    margin: 0;
    padding: 0;
}
#index{
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 4150px;

    width: 100vw;
    place-items: center;
    
    background-color: white;
}

#encabezado{
    display: flex;
    width: 1280px;
    height: 88px;
    background-color: rgb(252, 247, 247);
    

}
#general{
width: 1280px;   
height: 50px;
display: flex;
}
.general{
    width: 640px;
    height: 50px;
    background-color: rgb(252, 247, 247);
    
    border:1px solid rgb(253, 177, 13);
}
#slider{
width: 1280px;   
height: 605px;background-color: beige;

}
#logo{
    width: 286px;
    height: 88px;
    background-image: url("header/Captura\ logo.png");
    background-size: cover;
    background-position: center center;
}
#secciones{
    display: flex;
    width: 794px;
    height: 88px;
    
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.seccion{
    font-size: 20px;
    color: rgb(27, 26, 26);
    font-family: inherit;
}
#iconos{
    display: flex;
    width: 200px;
    height: 88px;
   
     justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.icono{
    width: 48px;
    height: 48px;
    
}
#carrito{
    background-image: url("header/carrito-3.png");
    background-size: cover;
    filter: grayscale(100%);
}
#carrito:hover{
    filter: grayscale(0%);
}
#usuario{
    background-image: url("header/usuarios-2.png");
    background-size: cover;
    filter: grayscale(100%);
}
#usuario:hover{
    
    filter: grayscale(0%);
}
#salir{
    background-image: url("header/cerrar_sesion-1.png");
    background-size: cover;
    filter: grayscale(100%);
}
#salir:hover{

    filter: grayscale(0%);
}
#productos{
    margin: 46px;
    width: 1173px;
    height: 1390px;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 46px;
    justify-content: center;
    
    

}
.producto{
    
    width: 360px;
    height: 433px;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
    
    display: grid;
   place-content: center;
   row-gap: 4px;
   
    
}
.vista{
width: 276px;
height: 263px;
background-color: aquamarine;
}
.n_producto{

width: 276px;
height: 38px; 
font-size: 17px;  
}
.precio{
  width: 276px;
height: 21px; 
text-align: end; 
font-size: 20px;
}
.descripcion_boton{
width: 276px;
height: 42px;  

display: flex;
}
.descripcion{
width: 138px;
height: 42px; 
font-size: 13px; 
}
.agregar{
width: 138px;
height: 42px; 
display: flex;
justify-content: end;
}
#agregar{
    
    width: 121px;
    height: 42.7px;
    background-color: rgb(241, 35, 35);
    border-radius: 15px;
    border: none;
    color: rgb(253, 177, 13);
    font-size: 20px;
}
#destacados{
    margin: 46px;
    width: 1173px;
    height: 880px;
    
    width: 100vw;
    place-items: center;
    
    
    
}
#video{
    width: 1173px;
    height: 627px;
    
    background-image: url("videos_productos/banner-paleta.gif");
    background-size: cover;

}
#botones{
    margin: 46px;
    width: 700px;
    height: 207px;
    
    display: flex;
  justify-content: space-between;

}
.bnt_p{
    border: none;
    width: 190px;
    height: 193px;
    background-color: rgb(219, 228, 219);
    border-radius: 15px;

}

#paleta{
     background-image: url("iconos_principales/icono_paleta.png");
     background-size: cover;
}
#gomita{
    background-image: url("iconos_principales/icono-gomita.png");
    background-size: cover;
}
#bonbonbum{
    background-image: url("iconos_principales/icono-bonbonbum.png");
    background-size: cover;
}

#banners{
    width: 1173px;
    height: 1349px;
    
    display: flex;
    flex-direction: column;
    gap: 37px;
    

}
.banner{
    gap: 37px;
    width: 1177px;
    height: 425px;
    background-color: white;
    text-align: end;
    align-content: end;
}
.ver_mas{
    width: 210px;
    height: 62px;
    background-color: rgb(39, 123, 14);
    color: rgb(255,255, 255);
    border-radius: 15px;
    border: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ver_mas{
    background-color: rgb(241, 35, 35);
}
#mis-pedidos{
    background-image: url("banne-secciones/banner-mispedidos.jpeg");
    background-size: cover;
    
}
#quienes-somos{
    background-image: url("banne-secciones/baner-quienessomos.jpeg");
    background-size: cover;
}
#preferencial{
    background-image: url("banne-secciones/banner-preferencial.jpeg");
    background-size: cover;
}
#pie_pagina{
    width: 1280px;
    height: 254px;
    background-color: rgb(63, 61, 61);
    margin: 46px;
}
#linea1{
    border: 5px solid rgb(237, 110, 43);
}
#cuerpo_footer{
    display: flex;
    width: 1280px;
    height: 124.5px;
    
    
}
.contenido_footer{
    justify-content: center;
    text-align: center;
    margin: 1px;
    width:426.6px ;
    height: 124.5px;
    
   
}
.texto-footer{
    text-align: center;
    font-size: 24px;
    color: white;
}
#tarjetas{
    width: 100vw;
    
}
#linea2{
    border: 1px solid white;
}
#redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    
    margin: 1px;
}
#redes-sociales{
    
    height: 96px;
    width:426.6px ;

    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;   
    
}
#telefonos{
    height: 96px;
    margin: 5px;
    align-content: space-evenly;
}

